<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="5" />
</head>
<body>
<h1>PEER TO PEER CHAT PROGRAM</h1>
<form method="get" th:action="@{/update}">
    <span>Your username</span>
    <input type="text" name="changed_username" th:placeholder="${username}"/>
    <button type="submit">Update</button>
</form>

<ul>
    <li th:each="message : ${messages}">
        <p><span th:text="${message.username}"></span></p>
        <p><span th:text="${message.text}"></span></p>
    </li>

</ul>

<form method="post" th:action="@{/send}">
    <input type="text" name="message"/>
    <button type="submit">Send</button>
</form>
</body>
</html>