<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>PEER TO PEER CHAT</h1>
<form method="get" th:action="@{/update}">
    <span>Your username</span>
    <input type="text" name="changed_username" th:placeholder="${username}"/>
    <button type="submit">Update</button>
</form>

<ul>
    <li th:each="message : ${messages}" th:text="${message.text}">
        <div th:text="${message.username}"></div>
    </li>
</ul>

<form method="post" th:action="@{/send}">
    <input type="text" name="message"/>
    <button type="submit">Send</button>
</form>
</body>
</html>